<ion-content [fullscreen]="true" class="maintenance-page">
  <div class="maintenance-container">
    <div class="maintenance-content">
      <ion-icon name="construct-outline" class="maintenance-icon"></ion-icon>
      <h1>Site Temporarily Unavailable</h1>
      <p class="maintenance-message">
        We're currently performing maintenance on our site.
      </p>
      <p class="maintenance-submessage">
        Please check back soon. Thank you for your patience.
      </p>
    </div>
  </div>
</ion-content>

