<footer class="app-footer">
  <div class="footer-content">
    <nav class="legal-links">
      <a routerLink="/privacy-policy" class="legal-link">Privacy Policy</a>
      <a routerLink="/terms-of-use" class="legal-link">Terms of Use</a>
      <a routerLink="/disclaimer" class="legal-link">Disclaimer</a>
      <a routerLink="/accessibility" class="legal-link">Accessibility</a>
      <a routerLink="/contact" class="legal-link">Contact</a>
    </nav>
    <p class="copyright">&copy; {{ currentYear }} DCCI Ministries. All rights reserved.</p>
    <p class="version-info">
      <ion-icon name="information-circle-outline"></ion-icon>
      Version: {{ version }}
    </p>
    <p class="report-problem">
      <a (click)="navigateToContact()" class="problem-link">
        <ion-icon name="bug-outline"></ion-icon>
        Report a Problem
      </a>
    </p>
  </div>
</footer>

